<!DOCTYPE html>
<html>
  <head>
    <title>users</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Users table</h1>
    <p>My users are:</p>
  </body>
</html>
